* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  height: 82vh;
}

/* The register page CSS  */
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-form {
  width: 250px;
  /* border: 1px solid red; */
  border-radius: 5px;
  /* padding: 20px; */
}

/* Transaction page  */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}

/* The antdesign icons */
.anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: black;
}

.inactive-icon {
  color: gray;
}

.switch-icons {
  border: 1px solid rgba(16, 2, 2, 0.607);
  padding: 5px;
  border-radius: 5px;
}